<div class="col col-sm-9"> 
    
    <input class="form-control w-90" [(ngModel)]="userName"  (ngModelChange)="checkUsername()" placeholder=" Please Enter Your User Name Here !!">
    <p>Your User Name is: {{ userName }}</p>

</div>
<button (click)="onResetUsername() " [disabled]="!isValidbtn">Click me!</button> 


<p  *ngIf="showParagraph"> 
    Lorem ipsum dolor sit amet consectetur adipisicing elit.
    Rerum repellendus laboriosam quasi natus delectus provident quae neque iure nisi cupiditate, 
    eaque vel, iste, deleniti similique minus esse. Eaque, ex aliquam?</p>

    <button class="btn btn-success" (click)="onToggleParagraph()">
        {{ showParagraph ? 'Hide' : 'Show' }} Display Details </button> 

        <div class="mt-4">
            <h5>Button Click Logs:</h5>
            

            <ul>
              <li *ngFor="let log of clickLogs">{{ log }}</li>
            </ul>
          </div>
          <ul>

            @for ( i of clickLogs; track i)
            {
                <li>i</li>
            }
        </ul>
